<!DOCTYPE html>
<html>
	<head>
		<title>Shanghai Taxi trips visualization</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href={{ url_for ('static', filename='mapstyle.css') }} >
		<link rel="stylesheet" type="text/css" href={{ url_for ('static', filename='jquery-ui.min.css') }}>

		<!-- Google map service
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL-i8Ridf0tibzpzu-YsPR13sLIg5QbHA&libraries=drawing,visualization&sensor=false">
		</script>
		<script type="text/javascript" src="google-plot-sh.js"></script>
		<script type="text/javascript" src="markerwithlabel_packed.js"></script>
		-->
		
		<script type="text/javascript" src="http://api.map.baidu.com/api?v1.5&ak=oU8oOvHN4XxylIXncgHRwZsc"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='baidu-plot-sh.js') }}"></script>
		<script type="text/javascript" src="http://developer.baidu.com/map/jsdemo/demo/convertor.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='cases.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.0.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
	</head>
	<body>
		<div id="panel">
		<span>Trip ID:</span>
			<input type=input name=tripID></input>
			<input type=button value="Plot Trip" onclick="plotTripByID()"/>
		</div>
		
		<div id="console">
			<p id="line"></p>
		</div>
	
		<div id="map-canvas"></div>
	</body>
</html>
